<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secure File Transmission - Send</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <div class="logo">Secure File Share</div>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('about') }}">About Us</a></li>
                <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
                <li><a href="{{ url_for('history') }}">History</a></li>
                <li><a href="{{ url_for('log_page') }}">Log</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="form-container">
            <h2 class="form-title">Securely Send Your File</h2>
            <form method="POST" action="{{ url_for('encrypt') }}" enctype="multipart/form-data" class="form">
                <div class="form-group">
                    <label for="file" class="form-label">Select File to Encrypt and Send:</label>
                    <input type="file" name="file" id="file" class="form-input" required>
                </div>
                <div class="form-group">
                    <label for="password" class="form-label">Enter Password for Encryption:</label>
                    <input type="password" name="password" id="password" class="form-input" required>
                    <small>This password will be used to encrypt your file. You will need to share this password securely with the recipient.</small>
                </div>
                <button type="submit" class="primary-button button">Encrypt and Send</button>
            </form>
        </div>
    </main>
    <footer class="footer">
        <p>&copy; 2025 Secure File Share</p>
    </footer>
</body>
</html>